@import url('fonts.css');
/* @import url('reset.css'); */
@import url('materialize.css');
/* @import url('pretty-checkbox.css'); */





/* Общие стили */

html,
body {
	width: 100%;
	overflow-x: hidden;
}

body {
	position: relative;
	margin: 0;
	font-size: 14pt;
	line-height: 1;
	font-family: 'Roboto Light';
	padding-right: 2.5rem;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.inv {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

input {
	width: 100%;
}


::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(134, 134, 134, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #777777;
}


/* Общие стили end */






/* Стили для проекта */

.num-create {
	display: grid;
	grid-template-columns: minmax(11rem, 17rem) auto;
	grid-column-gap: 3rem;
	padding: 1rem;
}

.num-create .data {
	display: flex;
	flex-direction: column;
}

.num-create .data .data-num {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-areas: "num clear"
		"data-range clear"
		"interval clear"
		"input-a clear"
		"input-b clear";
	grid-gap: .5rem;
}

.num-create .data .data-num #num {
	grid-area: num;
}

.num-create .data .data-num .input-a {
	grid-area: input-a;
}

.num-create .data .data-num .input-b {
	grid-area: input-b;
}

.num-create .data .data-num .data-range {
	grid-area: data-range;
}

.num-create .data .data-num .data-range p {
	margin: 0;
}

.num-create .data .data-num .clear {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: clear;
	height: 100%;
}

.num-create .data .data-num .interval {
	display: flex;
	align-items: center;
	grid-area: interval
}

.num-create .data .data-num .interval label {
	padding: 0 1rem;
}

.num-create .data .data-num .interval label:first-child {
	padding-left: 0;
}




.num-create .options .options-trigger {
	display: flex;
}

.num-create .options .options-trigger .btn-large {
	width: 50%;
	pointer-events: all;
	box-shadow: none;
	cursor: pointer;
}

.num-create .options .options-wrapper .options-field {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 2rem;
	margin-top: 1rem;
}

.num-create .options .options-radio,
.num-create .options .input,
.num-create .options .input-field {
	margin-bottom: 3rem;
}

.num-create .options .input-margin .wrapper-input {
	display: flex;
}

.num-create .options .input-margin .wrapper-input input {
	display: flex;
}

.num-create .options .input-margin .wrapper-input input:first-child {
	margin-right: 1rem;
}

.num-create .options .input-field textarea {
	height: 5rem !important;
	resize: vertical;
	overflow: auto;
}







.btn-gui-slider {
	position: relative;
	z-index: 102;
}





.body-gradient {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 6rem;
	background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 1) 100%);
	z-index: 101;
}




.get-code {
	margin: 3rem 0;
}

.get-code .btn-large {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 102
}

.get-code .btn-large i {
	padding-left: 1rem;
}

.get-code .field-get-code {
	margin-top: 5px;
	width: 100%;
	height: 10rem;
	font-size: 12pt;
	resize: vertical;
}



.global-option-icon {
	position: fixed;
	top: 1rem;
	right: .5rem;
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: all .1s ease;
	z-index: 1000;
}

.global-option-icon:hover {
	cursor: pointer;
	background-color: rgb(223, 223, 223);
}


.global-option {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	z-index: 105;
}

.global-option .global-option-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1rem;
	padding-right: 3rem;
}

.global-option .global-option-wrapper .block {
	margin: 3rem 0;
}

.global-option .global-option-wrapper .block:first-child {
	margin-top: 0;
}






.drag-create {
	padding: 1rem;
}

.drag-create .gui-options {
	display: grid;
	grid-template-columns: 13rem 18rem 1fr 1fr;
	grid-template-rows: auto;
	grid-column-gap: 1rem;
}

.drag-create .gui-options .get-code {
	margin: 0;
}

.drag-create .gui-options .get-code .field-get-code {
	height: 11rem;
}

.drag-create .gui-options .wrapper-btn {
	display: grid;
	align-content: space-between;
}

.drag-create .gui-options .wrapper-btn div {
	padding: 0 5px;
	font-size: 13px;
}












.slider-bkg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, .8);
	z-index: 10;
}










.sticky {
	position: fixed;
	z-index: 101;
}

.stop {
	position: relative;
	z-index: 101;
}












#files {
	width: 100%;
	padding: 1em;
	background-color: rgb(255, 255, 255);
	border-radius: 1em;
	border: 4px dashed #26a69a;
}

#list {
	display: grid;
	grid-template-columns: repeat(4, 18rem);
	grid-column-gap: 2rem;
}


#list .dad-block {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1em 0;
	/* 	border: 2px solid #02a9f4; */
	box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.6);
	background-color: #fff;
	z-index: 100;
}

#list .dad-block .wrap-img-btn {
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
}

#list .dad-block .wrap-img-btn div {
	display: flex;
	justify-content: center;
	background-color: rgb(194, 194, 194);
	width: 100%;
	height: 15rem;
}

#list .dad-block strong {
	position: relative;
	display: block;
	text-align: center;
	padding: .5rem 0;
}

#list .dad-block strong .slider-connect {
	position: absolute;
	top: 55%;
	left: 5px;
	transform: translateY(-50%);
}

#list .dad-block strong .slider-connect span {
	padding: 0;
}

#list .dad-block strong .del-item {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	color: #2b2b2b;
}

#list .dad-block strong .del-item:hover {
	color: #ff2e2e;
	cursor: pointer;
}

#list .dad-block .wrap-img-btn button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: .5rem 0;
	border: 1px solid #26a69a;
	background-color: #26a69a;
	cursor: pointer;
	-webkit-transition: all .17s ease;
	transition: all .17s ease;
}

#list .dad-block .wrap-img-btn button i {
	font-style: normal;
	font-size: 150%;
	color: #fff;
}

#list .dad-block .description {
	width: 100%;
	height: 5em;
	padding: 0;
	margin-bottom: 0;
	border: none;
	border-top: 1px solid rgb(187, 187, 187);
	outline: none;
	resize: none;
}

#list .dad-block .option-item input {
	color: #9e9e9e;
}


.thumb {
	display: block;
	margin: 0;
	object-fit: contain;
}

.gui-body {
	margin-top: 3rem;
}

.gui-body .wrapper-element {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 88.5%;
	padding: .5rem;
	background-color: rgba(0, 0, 0, .95);
	color: #fff;
}


.gui-option-dinamic .item p {
	margin-top: 0;
	margin-bottom: 0;
}

.gui-option-dinamic .item label {
	font-size: 10px;
}

.gui-option-dinamic .item input {
	height: 1.7rem;
}

.gui-option-dinamic .input-field {
	margin-bottom: 0;
}


.btn-disables {
	background-color: #DFDFDF !important;
	color: #9F9F9F !important;
}





.btn,
.btn-large {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn i,
.btn-large i {
	padding-left: 1rem;
}




.d-n {
	display: none !important;
}

/* Стили для проекта end */


@media (max-width: 1200px) {
	#list {
		grid-template-columns: repeat(3, 18rem);
		grid-column-gap: 2rem;
	}
}